.DS_Store
composer.json
composer.lock
backend/vendor/
frontend/node_modules
frontend/dist
frontend/angular.json
frontend/package.json
frontend/tsconfig.json
frontend/tsconfig.app.json
frontend/tsconfig.spec.json
frontend/tsconfig.base.json
frontend/tsconfig.compiler.json
frontend/tsconfig.compiler.json